# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.SciPy

Some of the popular languages that Data Scientists use are:
1.Python 
2.SQL 
3.Java
4.Scala

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. Addition: `2 + 3 = 5`
2. Subtraction: `7 - 4 = 3`
3. Multiplication: `3 * 4 = 12`
4. Division: `8 / 2 = 4`
5. Exponentiation: `2 ** 3 = 8`
6. Modulus: `10 % 3 = 1`

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe various data science tools and libraries
- Demonstrate basic arithmetic operations in Python
- Convert time units and perform simple calculations
- Understand and use markdown for documentation in Jupyter Notebooks

## Author

[ MUZTAHIDUL ISLAM NOON ]